@use '../abstracts/' as *;

#functionnality {
    padding: 25px;
    @include flexBox(column, center, center);
    h2 {
        justify-self: flex-start !important;
        padding: 25px;
    }
    ol {
        @include flexBox(row, space-between, center);
        flex-wrap: wrap;
        gap:1.5rem;
        counter-reset: section;
        @media screen and (max-width:992px) {
            flex-direction:column;
            justify-content: center;
            align-items: center;
          }        
        li {
            width: 300px;
            position: relative;
            @include flexBox(row, center, center);
            gap: 15px;
            padding: 15px;
            background: $clearColor;
            border-radius: 8px;
            list-style-type: none;
            flex-grow: 1;
        &::before{
            position: absolute;
            counter-increment: section;
            content: counter(section);
            background-color: $blue;
            padding: 6px 11px;
            border-radius: 50%;
            left: -15px;
        }
            .fa-solid{
                color: $thirdColor;
            }
            a {
               text-decoration: none;
               color: #323232;
            }
        }

    }
}