@use '../abstracts/' as *;

/*********************************RETAURANT CARDS******************************************/
#restaurants {
    margin-top: 35px;
    @include flexBox(column, center, center);
    gap:25px;
   
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        @media screen and (max-width:768px) {
            @include flexBox(column, center, center);
        }
        .card{
            width:100%;
            border-radius: 16px;
            overflow: hidden;
            padding: 16px;
            @include baseShadow();
            @media screen and (max-width:768px) {
                width: 100%;
            }
            .card__link{
                width: 100%;
                display:flex;
                flex-direction: column;
                .image {
                    width: 100%;
                    height: 250px;
                    img{
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
                .content {
                    background-color: $whiteColor;
                    padding: 8px;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}