@use '../abstracts/' as *;

header {
    @include flexBox(column, center, center);
    .title{
        @include flexBox(row, center, center);
        padding: 25px;
        h1 {
            font-family: 'Shrikhand', serif;
            font-size: 35px;
        }
    }
    
}