$primaryColor: #9356DC;
$secondaryColor:#FF79DA;
$thirdColor: #99E2D0;
$formColor: #EAEAEA;
$whiteColor: #fff;
$clearColor: #F6F6F6;
$blue: #D36BDA;
$blueCounter: #9356DC;
<<<<<<< HEAD
$boxshadowColor: #78404077;
=======
$boxshadowColor: #78404077;
>>>>>>> 8b73757c01952afa66aff4621c873e9bdc6f499c
