/* Error: expected "{".
 *    ,
 * 10 | $boxshadowColor: #78404077;
 *    |                           ^
 *    '
 *   src\scss\abstracts\_variables.scss 10:27  @use
 *   src\scss\abstracts\_mixins.scss 1:1       @forward
 *   src\scss\abstracts\_index.scss 1:1        @use
 *   src\scss\_settings.scss 1:1               @use
 *   src\scss\main.scss 1:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 10 \2502  $boxshadowColor: #78404077;\d\a    \2502                            ^\a    \2575 \a   src\\scss\\abstracts\\_variables.scss 10:27  @use\a   src\\scss\\abstracts\\_mixins.scss 1:1       @forward\a   src\\scss\\abstracts\\_index.scss 1:1        @use\a   src\\scss\\_settings.scss 1:1               @use\a   src\\scss\\main.scss 1:1                    root stylesheet';
}
